
@{
    ViewBag.Title = "About";
}

<h4 style="margin-top: 20px;">Our Story</h4>
<p>Welcome to CriticalStore. The store is owned by Erik Karloskar and Christian. We are a family game store that has been serving people who love games since 2005.</p>
    
