<script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>
<style>
    #map_canvas img {
        max-width: none;
    }

    .infoDiv {
        height: 200px;
        width: 300px;
        -webkit-user-select: none;
        background-color: white;
    }

    #map_canvas {
        width: 50em;
        height: 35em;
        display: inline-block;
    }
</style>
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
@section scripts {
    <section class="scripts">
        <script type="text/javascript">
            // our code will go in here...
            //<!-- This code tells the browser to execute the "Initialize" method
            //only when the complete document model has been loaded. -->
            $(document).ready(function () { Initialize(); });
            google.maps.visualRefresh = true;
            var Liverpool = new google.maps.LatLng(57.682707, 12.000256);
            var mapOptions = {
                zoom: 15,
                center: Liverpool,
                mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP
            };
            var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
            var myLatlng = new google.maps.LatLng(57.682707, 12.000256);
            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title: 'Tate Gallery'
            });
            marker.setIcon('http://maps.google.com/mapfiles/ms/icons/pink-dot.png');
            google.maps.event.addListener(marker, 'click', function () {
                infowindow.open(map, marker);
            });


        </script>

    </section>
}
<address>
    Mölndalsvägen 81<br />
    Gothenburg, SWE 412 63<br />
    <abbr title="Phone">P:</abbr>
    031.888.1337
</address>

<address>

    <strong>Support:</strong>   <a href="mailto:criticalstore@gmail.com">CriticalStore@gmail.com</a><br />
    
</address>
<div id="map_canvas"></div>

